/* .logos {
    background-color: #1f252c;
} */

.intro {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/code.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cont;
    height: 350px;
    width: 100%;
    overflow: hidden;
}

#contact {
    background-color: #f0f0f0;
}

.ratio-1x1 {
    aspect-ratio: 1/1;
}
