header {
    background-image: url(images/code.png);
    background-size: cover;
    object-fit: cover;
    height: 500px;
    width: 100%;
    align-content: center;
    animation: animate 20s linear infinite;
}

header span:after {
    content: 'SOFTWARE ENGINEER';
    animation: words 7s infinite;
    font-size: x-large;
}

@keyframes words {
    0%, 33% {
        content: 'SOFTWARE ENGINEER';
    }

    34%, 66% {
        content: 'DATA ENGINEER';
    }

    67%, 100% {
        content: 'DATA ANALYST';
    }
}

 @keyframes animate {
    to {
        background-position: -500px;
    }
}

#contact {
    background-color: #f0f0f0;
}

.ratio-1x1 {
    aspect-ratio: 1/1;
}
